
/* Zoom animation */
@keyframes zoom {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  color: rgb (53, 53, 105);



}

.article-card  {
  -webkit-text-fill-color: rgb(5, 51, 53);
  background-color: #c3e05859;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0px 4px 6px rgba(38, 55, 186, 0.806);
  opacity: 1;
  margin: 20px 0;
  animation: zoom 0.5s ease-in-out;
  width: 1400px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.articles-title {
  margin: 80px 0 30px;
  color: rgb(53, 53, 105);
}

