/* Add this CSS to your existing stylesheet */

.certifications-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;


}

.certification-card {
  margin-top: 10px;
  width: 300px;
  height: 200px;
  background-color: rgba(174, 187, 112, 0.675);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.certification-card:hover {
  transform: rotateY(16deg) scale(1.1);
  background-color: rgb(112, 158, 187);

  cursor: pointer;
  text-align: center;
}

.certifications-title {
    margin-top: 100px ;
}

/* other certifications  */
.certification-carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10px;

}


.certification-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.zoomable {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 6px;
}

.zoomable:hover {
  transform: scale(1.5);

}
