.services {
  padding: 80px 0;

  text-align: center;
}

.services-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.service {
  max-width: 300px;
  background-color: #CAD5C6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.672);
}

.service-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-description {
  font-size: 16px;
}

/* Zoom-in animation */
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.zoom-in {
  animation: zoomIn 0.3s ease-in-out;
}
